name: Tests 

on:
  pull_request:
    paths:
      - "test/**"
      - "server/**"

  push: 
    branches: 
      - main
    paths:
      - "test/**"
      - "server/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Run all tests 
        working-directory: test 
        run: go test -v ./...
